.single-trail-image {
    height: 300px;
    width: 100%;
    margin-top: 5px;
}

.single-container {
    display: flex;
    flex-direction: row;
}

.trail-single-buttons {
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    width: 100px;
    margin: 0 10px 0 10px;


    &:hover {
        transform: scale(1.2);
        box-shadow: none;
        transform: translate(5px, 5px);
    }
}

.hikers-reviews-side {

    margin: 0 0 0 20px;


    h3 {
        margin: 10px 0 0 0;
    }

    .hiker-box {
        margin: 20px 0 10px 0;
        background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, green, yellow) border-box;
    border: 4px solid transparent;
    border-radius: 10px;
        width: 95%;
        padding: 5px;
        overflow-y: auto;
        height: 50vh;

        .hiker-container {
            display: flex;
            align-items: center;
            margin: 5px 0 5px 0;

            .single-view-avatar {
                width: 80px;
                height: 80px;
            }

            p {
                font-family: 'Noto Sans', sans-serif;
                margin-left: 10px;

                .hiker-name {
                    font-weight: bold;
                }
            }
        }

    }
}

.single-top {
    display: flex;
    height: 50vh;
    margin-top: 10px;
}

.reviews-section {
    margin: 120px 0 0 10px;


    .review-box {
        height: 30vh;
        width: 99%;
        overflow-y: auto;
        background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, green, yellow) border-box;
        border: 4px solid transparent;
        border-radius: 10px;
        padding: 7px 10px 10px 10px;
    }

    .reviews-header {
        display: flex;

        .add-review {
            margin: 0 0 0 400px;
        }
    }

    .review {
        display: flex;
        flex-direction: row;

        .review-letters {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .review-text {
                margin: 0;
                font-family: 'Merriweather', serif;
            }
            .timestamp-container {
                display: flex;
                color: grey;
                font-size: small;
                font-family: 'Courier New', Courier, monospace;
            }

            span {
                margin-left: 10px;
            }
        }

        .review-options {
            margin-left: 10px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

.trail-info {
    margin-left: 10px;

    .trail-data {

        .trail-detail-box {
            margin: 10px 0 10px 0;
            font-family: 'Merriweather', serif;
            font-size: 15px;

            .title {
                font-weight: 600;
            }

            div {
                margin-bottom: 5px;
            }
        }
    }
}

.options-dropdown {
    p {
        margin-left: 10px;
        color: red;

        &:hover {
            cursor: pointer;
        }
    }
}

.stats-n-weather {
    display: flex;
    .weather {
        margin: 20px 0 0 40px;
        p {
            margin: 0;
            span {
                font-weight: bold;
            }
        }
    }
}

#post-review {
    margin-top: 20px;
}