footer {
    margin-top: 1.5vh;
    background-color: rgb(255, 255, 255);
    color: #36454f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
        .footer-icon {
            height: 15px;
            margin-left: 10px;
            margin-bottom: 6px;
        }
    
}